<%= form_for(@slow_thing) do |f| %>
  <% if @slow_thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slow_thing.errors.count, "error") %> prohibited this slow_thing from being saved:</h2>

      <ul>
      <% @slow_thing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
